<% layout('layout/boilerplate') %>
<div class="contain">
    <h1>Welcome to CR Voting Platform</h1>
    <p class="punch">Please login/register to continue!</p>
    <img src="ChatGPT Image Apr 10, 2025, 08_31_53 PM.png" alt="Voting" style="width: 200px; margin: 20px auto; display: block; animation: float 3s ease-in-out infinite;">
    <form action="login">
        <button type="submit" class="btnf">Login</button>
    </form>
    <br><br>
    <form action="./register">
        <button type="submit" class="btnf">Register</button>
    </form>
  </div>