<% layout('layout/boilerplate') %>
<div class="contain">
    <h1>Welcome to CR Voting Platform</h1>
    <p class="punch">Please login/register to continue!</p>
    <form action="login">
        <button type="submit" class="btnf">Login</button>
    </form>
    <br><br>
    <form action="./register">
        <button type="submit" class="btnf">Register</button>
    </form>
  </div>