<% layout('layout/boilerplate') %>
<h1 style="text-align: center; font-weight: bold;">Welcome to CR Voting platform</h1>
<br>

<h3 style="text-align: center;">Please login/ register to continue!</h3>
<form action="login">
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<br><br>
<form action="./register">
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<br><br><br><br><br><br><br><br><br><br><br>
