<% layout('layout/boilerplate') %>
<!--<h1 style="text-align: center; font-weight: bold;">Welcome to CR Voting platform</h1>
<br>

<h3 style="text-align: center;">Please login/ register to continue!</h3>
<form action="login">
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<br><br>
<form action="./register">
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<br><br><br><br><br><br><br><br><br><br><br>
-->
  <div class="container">
    <h1>Welcome to CR Voting Platform</h1>
    <p>Please login/register to continue!</p>
    <form action="login">
    <button class="btn" type="submit">Login</button>
</form>
<form action="./register">
    <button class="btn" type="submit" >Register</button>
</form>
  </div>