<% layout('layout/boilerplate2') %>
<h1 style="text-align: center; color: aliceblue;">CURRENT CR'S </h1>
<div class="card-container" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 10px; margin-bottom: 15px;">
<div class="card" style="width: 100%">
    <img src="https://avatars.githubusercontent.com/u/21073753?v=4" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text" style="font-weight: bold;">Name : </p>
      <p class="card-text">Muskaan</p>
      <p class="card-text" style="font-weight: bold;">Description : </p>
      <p class="card-text">nwlk2hd</p>
      <p class="card-text" style="font-weight: bold;">Opportunities that would be provided are : </p>
      <p class="card-text">w2dvjh</p>
    </div>
</div>
<div class="card" style="width: 100%">
  <img src="https://avatars.githubusercontent.com/u/21073753?v=4" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text" style="font-weight: bold;">Name : </p>
    <p class="card-text">Medha Holla</p>
    <p class="card-text" style="font-weight: bold;">Description : </p>
    <p class="card-text">mdgwvgirlw</p>
    <p class="card-text" style="font-weight: bold;">Opportunities that would be provided are : </p>
    <p class="card-text">rehuwgdcuehivoer</p>
  </div>
</div>
<div class="card" style="width: 100%">
  <img src="https://avatars.githubusercontent.com/u/21073753?v=4" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text" style="font-weight: bold;">Name : </p>
    <p class="card-text">Jiya Arora</p>
    <p class="card-text" style="font-weight: bold;">Description : </p>
    <p class="card-text">whfguiwqgfoqiuwfh</p>
    <p class="card-text" style="font-weight: bold;">Opportunities that would be provided are : </p>
    <p class="card-text">ndbjfgruoehfoie</p>
  </div>
</div>
</div>