<% layout('layout/boilerplate2') %>
<h1 style="text-align: center; color: aliceblue; font-weight: bold; margin-bottom: 30px;">DATES AND DEADLINES</h1>
<h3 style="text-align: center; color: rgb(217, 235, 188); margin-bottom: 30px;">Kindly adhere to given dates and deadlines. No further deadlines would change</h3>

<div style="display: flex; flex-direction: column; align-items: center;">
<div class="card" style="margin-bottom: 25px; width:60%; background-color: #b0c7e6;">
    <div class="card-body">
      <h5>15 Febraury 2025</h5>
      <p>You can be the candidate for becoming the CR of the class.</p>
      <p>Kindly go to Be a Candidate section.</p>
    </div>
</div>
<div class="card" style="margin-bottom: 25px; width:60%; background-color: #b0c7e6;">
    <div class="card-body">
        <h5>16 Febraury 2025</h5>
        <p>You can Vote for CR of class. (You can vote maximum of 3 candidates to be the CR)</p>
        <p>You can see Live voting results under Live Results section. </p>
    </div>
</div>
<div class="card" style="margin-bottom: 25px; width:60%; background-color: #b0c7e6;">
    <div class="card-body">
        <h5>17 Febraury 2025</h5>
        <p>Voting ends.</p>
        <p>Kindly go to Current CR option for viewing your CR.</p>
    </div>
</div>
</div>