<% layout('layout/boilerplate2') %>
<link rel="stylesheet" href="/star.css">
<h1 style="text-align: center; color: aliceblue;">Provide your valuable feedback!</h1>
      <form action="/feedback" method="POST" >
        <fieldset class="starability-basic">
          <legend>Rating:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>        
        <div class="mb-3">
          <label class="form-label" for="body" >Enter your feedback:</label>
            <textarea class="form-control" name="body" id="body" row="30" col="30" required></textarea>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
    <% for(let feedback of feedbacks){ %>
        <div class="mb-3 card">
            <div class="card-body">
              <h5 class="card-title"> <%=feedback.author.email%></h5>
              <p class="starability-result" data-rating="<%= feedback.rating %>">
                Rated:<%= feedback.rating %> stars
              </p>
              <p class="card-text">Feedback: <%= feedback.body %></p>
            </div>
          </div>
    <% } %>